<section>
  <div class="w-full relative">

    <img src="logo-home.svg" class="absolute top-10 z-10 w-[800px] right-0 left-0 m-auto">


    <video
      class="w-full h-60 object-cover object-top"
      src="video.mp4"
      style="clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 50% 90%, 50% 90%, 0% 70%, 0% 30%);"
      loop
      muted
      autoplay
    >
    </video>
    <video
      class="absolute -bottom-48 blur-3xl -z-40 border border-green-700"
      src="video.mp4"
      loop
      muted
      autoplay
    >
    </video>
  </div>
</section>
